body {
    margin: 0;
}

.sidebar {
    position: absolute;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    z-index: 2000;
    transition: left 0.5s, width 0.5s;
}

.sidebar > .sidebar-container {
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 24px;
    font-size: 1.1em;
    background: white;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


.sidebar.sidebar-large {
    width: 460px;
}

.sidebar.sidebar-medium {
    width: 390px;
}

.sidebar.sidebar-small {
    width: 305px;
}

.sidebar.sidebar-fullscreen {
    width: 100%;
    padding: 0;
}

.sidebar.sidebar-fullscreen > .sidebar-container{

    border-radius: 0;
    box-shadow: none;
}
